@*@model Spartacus.Domain.Entities.User.UDbTable*@
<div class="container-fluid">
     <a class="navbar-brand" href=@Url.Action("Index", "Home")>
          <h2 class="text-white text-capitalize">Spartac<span class="text-color">us</span></h2>
     </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsid" aria-controls="navbarsid" aria-expanded="false" aria-label="Toggle navigation">
          <span class="ti-view-list"></span>
     </button>
     <div class="collapse text-center navbar-collapse" id="navbarsid">
          <ul class="navbar-nav mx-auto">
               <li class="nav-item"><a class="nav-link" href=@Url.Action("Trainers", "Home")>Trainers</a></li>
               <li class="nav-item"><a class="nav-link" href=@Url.Action("Services", "Home")>Services</a></li>
               <li class="nav-item"><a class="nav-link" href=@Url.Action("Membership", "Home")>Membership</a></li>
               <li class="nav-item"><a class="nav-link" href=@Url.Action("Contact", "Home")>Contact us</a></li>
               <li class="nav-item"><a class="nav-link" href=@Url.Action("About", "Home")>About us</a></li>
          </ul>
          <ul class="navbar-nav">


               @if (Session["Username"] == null)
               {
                    <li class="nav-item"><a class="nav-link" href=@Url.Action("Login", "Account")>Login</a></li>
                    <li class="vr text-white opacity-100 px-0"></li>
                    <li class="nav-item pe-0"><a class="nav-link" href=@Url.Action("Register", "Account")>Join</a></li>
               }
               else
               {
                    <li class="nav-item"><a class="nav-link" href=@Url.Action("Details", "Account")>@Session["Username"]</a></li>
                    <li class="vr text-white opacity-100 px-0"></li>
                    <li class="nav-item"><a class="nav-link" href=@Url.Action("Logout", "Account")>Disconect</a></li>
               }

          </ul>
     </div>
</div>
