@model Spartacus.Web.Models.ForgotPassword

@{
    ViewBag.Title = "Forgot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="slider bg-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="p-5 bg-white rounded shadow-lg">
                    <h2 class="mb-2 text-center">Forgot your password?</h2>
                    <p class="m-0">Enter the email address linked to your account, and we’ll send you instructions to create a new one.</p>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-floating mt-3">
                            @Html.TextBoxFor(m => m.Email, new
                            {
                                @class = "form-control",
                                placeholder = "",
                                required = true,
                                type = "text",
                            })
                            @Html.LabelFor(m => m.Email)
                        </div>
                        <button class="btn btn-success btn-lg w-100 shadow-lg mt-4">SEND EMAIL</button>
                    }
                </div>
            </div>
        </div>
    </div>
</section>