
@{

     ViewBag.Title = "ResetPassword";
     Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<h2>ResetPassword</h2>

<li class="nav-item"><a class="nav-link" href=@Url.Action("Profile", "Account")>@Session["Username"]</a></li>