
@{
     ViewBag.Title = "UseMenagement";
}

<table class="table table-bordered">
     <thead>
          <tr>
               <th>PRODUCT</th>
               <th>ACTION</th>
          </tr>
     </thead>
     <tbody>
          @using (Html.BeginForm("UserManagement", "Account", FormMethod.Post, new { autocomplete = "off" }))
          {
               foreach (var prod in Model.Products)
               {
                    <tr>
                         <td>@prod</td>
                         <td>
                               Pula
                         </td>
                    </tr>

                         
               }
          }
     </tbody>
</table>

