

@import url('register.css');
html, body {
     height: 100%;
}

body {
     font-family: 'Roboto', sans-serif;
     background: linear-gradient(90deg, rgb(245, 99, 75) 0%, #fe9418 100%);
     
}

.demo-container {
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin:100px;
}

.btn-lg {
     padding: 12px 26px;
     font-size: 14px;
     font-weight: 700;
     letter-spacing: 1px;
     text-transform: uppercase;
}

::placeholder {
     font-size: 14px;
     letter-spacing: 0.5px;
}

.form-control-lg {
     font-size: 16px;
     padding: 25px 20px;
}

.font-500 {
     font-weight: 500;
}
