
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     <title></title>
</head>
<body>
     <img style="background:black;" src="~/Content/images/team/a.gif" /><br /><br />
     <div style="border-top:3px solid #61028D">&nbsp;</div>
     <span style="font-family:Arial; font-size:10pt">
          Hello {AdminUsername} <br /><br />
          {Username}<br /><br />
          {Email}<br /><br />
          {Subject}<br /><br />
          {Message}<br /><br />
          <br /><br />
          Thanks<br />
     </span>
</body>
</html>
