@model Spartacus.Domain.Entities.User.UTable

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var filename = (Model.FileName != null) ? @Model.FileName : "no_image.svg";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UTable</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6 justify-content-center mx-auto" style="max-width:400px;">
            <img src="~/Content/Users/@filename" alt="" class="img-fluid rounded">
        </div>
        <div class="col-lg-6">
            @Html.Partial("_UserDetails", Model)
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Read")
                </div>
            }
        </div>
    </div>
</div>
