@model Spartacus.Domain.Entities.User.UTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var filename = (Model.FileName != null) ? @Model.FileName : "no_image.svg";
}

<h2>Details</h2>

<div>
    <h4>UTable</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6 justify-content-center mx-auto" style="max-width:400px;">
            <img src="~/Content/Users/@filename" alt="" class="img-fluid rounded">
        </div>
        <div class="col-lg-6">
            @Html.Partial("_UserDetails", Model)
            @Html.ActionLink("Edit", "Update", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Read")
        </div>
    </div>
</div>

