@model Spartacus.Web.Models.UserTable

@{
     ViewBag.Title = "View";
     Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<h2>View</h2>

<p>
     @Html.ActionLink("MUser", "User")
</p>
<table class="table">
    @{
               foreach (var item in Model.UserList)
               {
                    if(Session["Username"] == item.Username) {<p>pula</p>}
               }   
    }

    
</table>


